<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>メータービューア</title>
    <link rel="stylesheet" href="/static/css/meter.css">
    <link rel="stylesheet" href="/lib/meter/css/styles.css">

    <script src="/static/src/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div id="speedometer">
        <div style="display: none;"><img id="sprite" src="/lib/meter/assets/icons.svg"></div>
        <canvas id="canvas" width="425" height="210"></canvas>
        <img id="car_handle" src="/static/image/steering.png"></div>
    </div>


    <script src="/lib/meter/js/fraction.min.js"></script>
    <script src="/lib/meter/js/speedometer.js"></script>
    <script src="/static/js/meter.js"></script>
</body>

</html>