<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>画像ビューア</title>
    <script src="/static/src/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/viewer.css">
    <script src="/static/src/jquery-keyframes.min.js"></script>
</head>

<!-- <body background="./static/image/main.png"> -->
<body>
    <div>
        <div class="slider">
            <div class="slider-inner">
                <div class="slider-item"><img src="/static/image/main.png"></div>
                <div class="slider-item"><img src="/static/image/concept_image.jpg"></div>
                <div class="slider-item"><img src="/static/image/youtube_header.jpg"></div>
            </div>
        </div>
        <!-- document.write('<img src="./main.png" alt="画像の解説文">') -->
    </div>
    <script src="/static/js/viewer.js"></script>
</body>

</html>